div {
    display: flex;
    justify-content: center;
}

.search-bar {
    border-radius: 25px;
    border: 1px solid #000000;
    width: 638px;
    height: 44px;
    input {
        border: 0px;
        font-size: 18px;
        width: 600px;
        outline: none;
    }
}

.submit {
    border-radius: 3px;
    border: 1px solid #000000;
    margin: 20px;
    height: 44px;
}

#logo {
    font-size: 100px;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

#images {
    display: flex;
    justify-content: right;
    margin: 10px;
}